<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your itinerary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'depart: ' + ${initeraryModel.departure}" />
<p th:text="'arrivee: ' + ${initeraryModel.arrival}" />
<p th:text="'chemin 1: ' + ${initeraryModel.route_1}" />
<img th:if="${itineraryModel.is_1_accessible}" th:src="@{'/images/ok.jpg'}" width="50" />
<img th:unless="${itineraryModel.is_1_accessible}" th:src="@{/images/notok.jpeg}" width="50"/>
<p th:text="'chemin 2: ' + ${initeraryModel.route_2}" />
<img th:if="${itineraryModel.is_2_accessible}" th:src="@{'/images/ok.jpg'}" width="50"/>
<img th:unless="${itineraryModel.is_2_accessible}" th:src="@{/images/notok.jpeg}" width="50"/>
<a href="/itinerary">Effectuez une autre recherche</a>
</body>
</html>